* {
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
    box-sizing: border-box;
}

html { 
    height: 100%; 
}

body {
    background-color: #3B3F45;
	font-family: “Tebuchet MC”, Tebuchet, Arial, sans-serif;
	outline: 20px solid #fff;
	min-height: 100%;
    border: 15px solid #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

header, footer {
    text-align: center;
	color: #EB7E7F;
	background-color: #4A4F56;
	font-size: 21px;
    padding: 50px 0 20px;
}

header {
	margin-bottom: 30px;
}

footer {
	padding: 15px 0;
}

.container, footer {
	margin: 0 auto;
	width: 50%;
}

.container ul {
	margin-bottom: 30px;
	list-style-type: none;
}

.container li {
	background-color: #88839E;
}

.container li:nth-child(even) {
	background-color: #7A7593;
}

.container label {
	display: block;
	padding: 10px;
    font-size: 20px;
	cursor: pointer;
	color: #FFF;
}

.container label:hover {
    background-color: #625E77;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.container label:active {
	background-color: #EB7E7F;
}

.container label {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.container input[type="checkbox"] {
	width: 20px;
    height: 20px;
	position: relative;
	top: 3px;
	cursor: pointer;
	margin: 0 15px 0 10px;
}
.container input[type="checkbox"]:checked ~ span {
	color: #A49EB2;
	text-decoration: line-through;
}

.item {
	vertical-align: middle;
}

.note {
	font-size: 14px;
	color: #C5BDC3;
}

.note:before {
	content: " ( ";
}

.note:after {
	content: " )";
}

.note:empty:before,
.note:empty:after {
	content: "";
}


